@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root {
    --navbar: rgba(255, 255, 255, 0.635);
    --white: background-color: rgba(243, 243, 243, 0);
}

#home {
    color: black;
    font-family: 'Merriweather', serif;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/snow_mountains.jpg");
}

#about {
    color: black;
    font-family: 'Merriweather', serif;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/forest.jpg");
}

#contact {
    color: black;
    font-family: 'Merriweather', serif;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/beach.jpg");
}

a {
    color: black;
    text-decoration-line: none !important;

}

a:hover {
    color: red;
    font-weight: 900;
    text-decoration-line: none !important;
}

h1 {
    padding: 20px 0px;
    margin: 20px 0px;
    text-align: center;
}

p {
    margin: 10px 0;
    text-indent: 5%;
}

.nav {
    background-color: var(--navbar);
}

#main_body {
    color: black;
    margin: 5% 0;
    padding: 5%;
    background-color: var(--navbar);
}

#main_body_col {
    color: black;
    margin: 5% 1%;
    padding: 5%;
    background-color: var(--navbar);
}

.flex-footer {
    display: flex;
    background-color: var(--navbar);
    color: black;
    text-align: center; 
    font-weight: 300;
    height: 3.5rem;
}

.footer-link {
    flex: 1;
    text-align: center;
    margin-top: 1%;
}