@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;800&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

a {
    font-size: 1.5em;
}

#main-content {
    position: absolute; 
    top: 40%; 
    width: 100%; 
    transform: translateY(-50%);
}

/* Index page CSS starts here */
#homepage {
    background: rgb(66, 62, 60);
    color: white;
}

#homepage a {
    color: white;
    font-weight: 300;
}

#homepage a:hover {
    color: orangered;
}
#socrates {
    position: fixed;
    bottom: 0px;
    z-index: -10;
}

/* About page CSS starts here */
#aboutpage {
    color: black;
    background: rgb(179, 202, 141);
}

#aboutpage a {
    color: black;
}

#aboutpage a:hover {
    color: orangered;
}

#dancers {
    position: fixed;
    bottom: 0px;
    z-index: -10;
}

/* Contact page CSS starts here */
#contactpage {
    background: rgb(248, 223, 168);
}

#contactpage a {
    color: black;
}

#contactpage a:hover {
    color: orangered;
}

#top-hand {
    position: fixed;
    top: 0px;
}

#bottom-hand {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
