@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;800&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
/* Index page CSS starts here */
#homepage h1 {
    color: black;
    font-weight: 800;
}

#homepage img.animated-gif {
    width: 100%;
    height: auto;
}

#hill {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 999;
}

/* About page CSS starts here */
#aboutpage {
    background: rgb(66, 62, 60);
    color: white;
}

#aboutpage h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#socrates {
    position: fixed;
    bottom: 0px;
    z-index: -10;
}

/* Contact page CSS starts here */
#contactpage {
    background: rgb(248, 223, 168);
}

#top-hand {
    position: fixed;
    top: 0px;
}

#bottom-hand {
    position: fixed;
    bottom: 0px;
    left: 60%;
}
