@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,500&family=Raleway:wght@200;300;400&display=swap');

:root {
    --navbar: black;
    --bkgrnd_black: rgb(36, 36, 36);
    --link_white: rgb(255, 255, 255, 0.8);
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 400 !important;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

a {
    color: var(--link_white);
}

a:hover {
    font-weight: 400;
    text-decoration: underline !important;
    color: yellow;
}

#section1 {
    min-height: 100%;
    height: 100vh;
    position: relative;
    padding: 2em 0;
    background-color: var(--bkgrnd_black);
    color: white;
    margin-left: 10em;
} 

#section2,
#section3, #section4,
#section5 {
    min-height: 100%;
    height: 100vh;
    position: relative;
    padding: 2em 0;
    background-color: var(--bkgrnd_black);
    color: white;
    margin-left: 10em;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#section6 {
    min-height: 100%;
    height: 100vh;
    position: relative;
    padding-top: 2em;
    background-color: var(--bkgrnd_black);
    color: white;
    margin-left: 10em;
    margin-top: 5rem;
}

#main-content {
    background-color: var(--bkgrnd_black);
    color: white;
}

.nav {
    height: 100%;
    width: 10em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

#content {
    text-align: center; 
    z-index: 1;
}

#header {
    margin-top: 3rem;
}

.image {
    position: absolute; 
    bottom: 0; 
    right: 30vh; 
    z-index: 0;
    opacity: 0.3;
}

.footer {
    background-color: var(--bkgrnd_black);
    height: 10em;
}

iframe {
    margin: 2% 0;
}